<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img class="logo" src="/assets/images/letscloneit.jpg" width="48px" height="48">
        <a class="spacing navbar-brand" href="/">ToDo App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ajouter ToDo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Supprimer Todo</a>
                </li>
                
            </ul>
         
            <button class="btn btn-outline-success" type="submit">Login</button>
       
        </div>
    </div>
</nav>